<h1>Welcome to the Flatiron School Job Resource!</h1>
<h2>A job sharing resource for Flatiron School's current students and alumni.</h2>
<h3>Upon signing or logging in, you'll be able to share and view information about open jobs and comment on them. Great for students who are job seeking or alumni who are looking to hire! </h3>


<p>
  <%= link_to "Sign Up", signup_path %>
  or
  <%= link_to "Login", login_path %>
  or
  <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
</p>