<h1> Company Details</h1>

<h2>Here are more details about the company you selected. </h2>
<br>
<h3>Name: <%= @company.name %> </h3>
<h3>Location: <%= @company.location %> </h3>

<%= render 'layouts/nav_logged_in' %>
